<!DOCTYPE html>
<html>

<head>
  <title>
    <%= ((typeof(campground) !== "undefined" && campground) ? campground.name + " | YelpCamp" : "YelpCamp"); %>
  </title>
  <link rel="icon" href="/mountains.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1901691233209219',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.12'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  </script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12&appId=1901691233209219&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
