<% include partials/header %>
<h1>Página inicial. Esta será uma página no estilo 'cover'!</h1>

<p>Bem-vindo à YelpCamp!</p>

<a href="/campgrounds">Veja todos nossos acampamentos!</a>

<% include partials/footer %>