<% include ../partials/header %>
<% include ../partials/nav %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-center">Cadastre um novo Acampamento!</h1>
        <form class="form-sign" action="/campgrounds" method="POST">
          <div class="form-label-group">
            <label for="inputName" class="sr-only">Nome do Acampamento</label>
            <input id="inputName" class="form-control" type="text" name="name" placeholder="Nome" autofocus>
          </div>
          <div class="form-label-group">
            <label for="inputImage" class="sr-only">URL da Imagem</label>
            <input id="inputImage" class="form-control" type="text" name="image" placeholder="URL da imagem">
          </div>
          <div class="form-label-group">
            <label for="inputPrice" class="sr-only">Preço</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">R$/ dia</div>
              </div>
              <input type="number" id="inputPrice" class="form-control" name="price" placeholder="10,00">
            </div>
          </div>
          <div class="form-label-group">
            <label for="inputDescription" class="sr-only">Descrição do Acampamento</label>
            <textarea class="form-control" id="inputDescription" placeholder="Escreva uma descrição sobre seu acampamento..." name="description" rows="3"></textarea>
          </div>

          <button class="btn btn-large btn-primary btn-block">Cadastrar!</button>
        </form>
        <a href="/campgrounds">Voltar</a>
      </div>
    </div>
  </div>
  </div>
  <% include ../partials/footer %>