.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

#form-header {
  text-align: center
}

#form-frame{
  margin: 5% auto;
}

.forms {
  min-width: 300px; width: 30%; margin: 25px auto;
}

.commentDate {
  margin-left: 1%;
  color: #999999;
}